@model LyricFinderPWA.Web.Models.lyricModel

@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="Search" method="post">
    <div class="form-group">
        <label for="songTitle">Title</label>
        <input type="text" class="form-control" id="songTitle" name="SongTitle" placeholder="Enter title" value="@Model.Title">
    </div>
    <div class="form-group">
        <label for="bandName">Band</label>
        <input type="text" class="form-control" id="bandName" name="BandName" placeholder="Enter Band name" value="@Model.BandName">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@Html.Raw(@Model.Lyric)